{% extends 'tracker/base.html' %}

{% block content %}

<div class="container px-4 border bg-light">
	<br/>
	<h1>BizBudget Tracker</h1>
	<br/>
	<tbody>Welcome to the BizBudget Tracker webapp. Tracker allows you to manage the budgets of each department within your business. Using this app you can submit purchase requests, view previous requests, and keep track of your remaining budget balance. 
	<br/><br/>	
	To begin, you must log in with a valid account. If you don't have an account, contact your Tracker Administrator to have one setup. Once logged in, click on the department you wish to see located in the navigation bar. From there you can submit purchase requests by filling out the Purchase Request Form and clicking submit. </tbody>
	<br/><br/>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}